.content {
  background-color: #F1ECE7;
}

.login-form__inner {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.login-form__form {
  padding: 64px 96px;
  width: 40vw;
  border: 1px solid #C5B9B0;
  border-radius: 8px;
  background-color: #FDFEFE;
}

@media screen and (max-width: 1200px) {
  .login-form__form {
    width: 60vw;
  }
}

.login-form__group {
  margin-top: 32px;
}

.login-form__group:first-of-type {
  margin-top: 0;
}

.login-form__label {
  display: block;
  margin-bottom: 8px;
}

.login-form__input {
  display: block;
  padding: 8px 12px;
  width: 100%;
  height: 48px;
  border: none;
  background-color: #F4F4F4;
  color: #BEB1A6;
  font-family: serif;
}

.login-form__error-message {
  color: #FF9494;
}

.login-form__btn {
  margin: 60px auto 0;
}