.login-form {
  height: 91.8vh;
  background-color: #F1ECE7;
}

.login-form__heading {
  font-family: serif;
  padding: 50px;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
}

.login-form__inner {
  display: flex;
  justify-content: center;
}

.login-form__form {
  width: 40vw;
  padding: 70px 100px;
  border-radius: 10px;
  border: 1px solid #C5B9B0;
  background-color: #FDFEFE;
}

.login-form__group {
  margin-bottom: 35px;
}

.login-form__label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.login-form__input {
  display: block;
  padding: 1vw 1.3vw;
  width: 100%;
  height: 45px;
  font-family: serif;
  border: none;
  color: #BEB1A6;
  background-color: #F4F4F4;
}

.login-form__error-message {
  color: #FF9494;
}

.login-form__btn {
  margin: 60px auto 0;
}