input,
select {
  border: 1px solid #E3DED9;
  color: #8B7969;
}

.content {
  display: block;
}

.admin__inner {
  margin: 32px auto 0;
  width: 84%;
}

.search-form {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;

  gap: 24px;
}

.search-form__keyword-input {
  padding: 8px 20px;
  width: 348px;
  border: 1px solid #E3DED9;
  background-color: #FBFBFB;
}

.search-form__date-input {
  position: relative;
  padding: 8px 12px;
  width: 140px;
  border: 1px solid #E3DED9;
  background-color: #F4F4F4;
}

.search-form__date-input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: auto;
  height: auto;
  background: transparent;
}

.search-form__date-input::after {
  position: absolute;
  top: 50%;
  right: 8%;
  width: 0;
  height: 0;
  border-top: 12px solid #BEB1A6;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  content: "";
  transform: translateY(-50%);
}

.search-form__gender,
.search-form__category {
  position: relative;
}

.search-form__gender::after,
.search-form__category::after {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 0;
  height: 0;
  border-top: 12px solid #BEB1A6;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  content: "";
  transform: translateY(-50%);
  pointer-events: none;
}

.search-form__gender-select,
.search-form__category-select {
  padding: 8px 20px;
  height: 100%;
  background-color: #F4F4F4;
}

.search-form__gender-select {
  width: 96px;
}

.search-form__category-select {
  width: 216px;
}

.search-form__search-btn,
.search-form__reset-btn {
  padding: 12px 20px;
  width: 104px;
}

.search-form__reset-btn {
  background-color: #D9C6B5;
}

.admin__table {
  margin-top: 16px;
  width: 100%;
  border-collapse: collapse;
}

.admin__row {
  border: 1px solid #E0DFDE;
}

.admin__label,
.admin__data {
  padding: 16px 8px;
}

.admin__label:first-of-type,
.admin__data:first-of-type {
  padding-left: 44px;
}

.admin__label:last-of-type,
.admin__data:last-of-type {
  padding-right: 44px;
}

.admin__label {
  background-color: #8B7969;
  color: #FFF;
  text-align: left;
  font-weight: 400;
}

.admin__detail-btn {
  padding: 8px 12px;
  border: 1px solid #D9C6B5;
  background-color: #F0F0F0;
  color: #D9C6B5;
  text-decoration: none;
}

.export-form {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.export__btn {
  background-color: #E1DBD6;
  color: #8B7969;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  border: 1px solid #8B7969;
  background-color: #fff;
  box-shadow: 4px 4px 4px rgba(139, 121, 105, 0.25);
  transform: translate(-50%, -50%);
}

.modal__content {
  position: relative;
  padding: 84px 88px;
}

.modal__close {
  position: absolute;
  top: 28px;
  right: 32px;
  width: 30px;
  height: 30px;
  border: 1px solid #8B7969;
  border-radius: 50%;
  color: #8B7969;
  text-align: center;
  text-decoration: none;
}

.modal-form__group {
  display: grid;
  margin-top: 32px;

  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.modal-form__label {
  font-weight: bold;
}

.modal-form__delete-btn {
  margin: 68px auto 0;
  background-color: #BA370D;
  color: #FFF;
}