body, textarea, input {
  color: #8B7969;
}

/* ヘッダー */
.header {
  position: relative;
  border: 1px solid #E0DFDE;
  font-family: serif;
}

.header__heading {
  text-align: center;
  font-size: 33px;
  font-weight: lighter;
}

.header__link {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 5vw;
  padding: .15vw;
  text-align: center;
  align-items: center;
  color: #D9C6B5;
  border: 1px solid #D9C6B5;
  background-color: #F0F0F0;
}

/* ボタン */
.btn {
  display: block;
  width: 6vw;
  padding: .4vw;
  font-size: 16px;
  border: none;
  color: #FFF;
  background-color: #82756A;
}