.confirm-form {
  padding: 50px;
}

.confirm-form__heading {
  font-family: serif;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
}

.confirm-form__inner {
  width: 74%;
  margin: 32px auto 0;
  font-size: 18px;
}

.confirm-form__table {
  width: 100%;
}

.confirm-form__row {
  border: 1px solid #E0DFDE;
}

.confirm-form__label,
.confirm-form__data {
  padding: 20px 44px;
}

.confirm-form__label {
  width: 34%;
  text-align: left;
  font-weight: 400;
  color: #FFF;
  background-color: #BAA899;
}

.confirm-form__btn-inner {
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  margin-top: 32px;
}

.confirm-form__send-btn {
  width: auto;
  grid-column: 2;
  text-align: center;
}

.confirm-form__back-btn {
  margin-left: 32px;
  text-align: start;
  font-size: 16px;
  border-bottom: 1px solid #BAA899;
}

.confirm-form__back-btn {
  grid-column: 3;
}