header {
  display: none;
}

.thanks-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.thanks-page__message {
  font-size: 25px;
  font-weight: bold;
}

.thanks-page__btn {
  margin: 36px auto 0;
}

.thanks-page-bg__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: serif;
  font-size: 260px;
  opacity: 0.05;
}

.thanks-page-bg__text {
  margin: 0 32px;
}