.header {
  display: none;
}

.thanks-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.thanks-page__message {
  font-weight: bold;
  font-size: 24px;
}

.thanks-page__btn {
  margin: 32px auto 0;
}

.thanks-page-bg__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 100%;
  text-align: center;
  font-family: serif;
  opacity: 0.05;
  transform: translate(-50%, -50%);
}

.thanks-page-bg__text{
  font-size: 18vw;
}